body {
  text-align: center;
  background-color: #283149;
  color: white;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
.padding {
  padding: 10%;
}
.container2{
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) 45vw 35vw minmax(1rem, 1fr);
  grid-template-areas:
        ". . . ."
        ". info calc ."
        ". . . .";
  grid-gap: min(2vw,1.5rem);
}
.info {
  grid-area:info;
  text-align: left;
}

.calc{
  grid-area:calc;
}
#result{
  display:none;
}
.form {
    display: inline-block;
}
@media (max-width: 45em) {
  .container2 {
        /* justify-items: start;
        align-content: start; */
        grid-template-columns: minmax(1rem, 1fr) 75vw minmax(1rem, 1fr);
        grid-template-areas:
            '. . .'
            '. calc .'
            '. info .';
    }
}
